*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

#random{
    border-radius: 15px;
    border: white solid 2px;
    color: white;
    background: grey;
    transition: all .5s;
    text-align: center;
    font-size: medium;
    padding: 10px;
}

#random:hover{
    color: black;
    background: white;
}

nav{
    display: flex;
    height: 100px;
}

header{
    background: rgb(0, 0, 48)
}

#fromId{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: none;
    border: none;
    margin-left: 5px;
}

#fromRandom{
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#getById{
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

#getById>label{
    margin-right: 5px;
}